.earth-showcase-container {
  position: relative;
  background-color: #4D0073;
  padding: 4rem 2rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.earth-showcase-links {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 2rem;
  color: white;
  text-align: center;
  flex-wrap: wrap;
}

.earth-showcase-links h2 {
  margin-bottom: 0.5rem;
  font-size: 1.8rem;
}

.earth-device-wrapper {
  position: relative;
  width: 100%;
  height: 700px;
  margin-bottom: 2rem;
}

.earth-earth-device img {
  display: block;
  width: 100%;
  height: auto;
}

.earth-device.web {
  width: 1100px;
  z-index: 1;
  top: 10px;
  left: 60%;
  transform: translateX(-50%);
  position: absolute;
  overflow: hidden;
}

.earth-device.tablet {
  width: 500px;
  z-index: 2;
  top: 240px;
  right: calc(50% - 1200px / 2 - 150px);
  position: absolute;
  overflow: hidden;
}

.earth-device.mobile {
  width: 450px;
  z-index: 2;
  top: 380px;
  right: calc(50% + 600px / 2 - 150px);
  position: absolute;
  overflow: hidden;
}

.earth-showcase-button {
  background-color: #ffdd57;
  color: #36013F;
  padding: 0.5rem 0.75rem;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: inline-block;
  text-align: center;
}

.earth-showcase-button:hover {
  background-color: #ffd000;
  color: #36013F;
}

@media only screen and (min-width: 1441px) {
  .earth-device-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }

}

@media (min-width: 1025px) and (max-width: 1440px) {
  .earth-device-wrapper {
    height: 490px;
  }
  
  .earth-device.web {
    width: 750px;
    top: 10px;
    left: 50%;
  }
  
  .earth-device.tablet {
    width: 450px;
    top: 170px;
    right: 30px;
  }
  
  .earth-device.mobile {
    width: 175px;
    z-index: 2;
    top: 125px;
    left: 185px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  .earth-device.web {
    width: 500px;
    top: -15px;
  }
  
  .earth-device.tablet {
    width: 275px;
    right: 45px;
    z-index: 2;
    top: 93px;
  }
  
  .earth-device.mobile {
    width: 105px;
    z-index: 2;
    left: 150px;
    top: 65px;
  }


  .earth-device-wrapper {
    position: relative;
    height: 275px;
  }

  .earth-slider-links {
    flex-direction: column;
    gap: 1.5rem;
  }


}

/* Mobile */
@media only screen and (max-width: 767px) {

  .earth-device.web {
    width: 300px;
  }
  
  .earth-device.tablet {
    width: 200px;
    right: -25px;
    z-index: 2;
    top: 90px;
  }
  
  .earth-device.mobile {
    width: 75px;
    z-index: 2;
    left: -25px;
    top: 75px;
  }

  .earth-device-wrapper {
    position: relative;
    height: 250px;
  }

  .earth-slider-links {
    flex-direction: column;
    gap: 1.5rem;
  }

  .earth-slider-links h2 {
    font-size: 1.2rem;
  }

  .earth-slider-links a {
    font-size: 1.2rem;
  }

  .earth-slider-text h1 {
    font-size: 2rem;
  }

  .earth-slider-text ul {
    max-width: 100%;
  }
}


/* Mobile Landscape */
@media only screen and (max-width: 767px) and (orientation: landscape) {

  .earth-device.web {
    width: 550px;
  }

  .earth-device.tablet {
    width: 300px;
    top: 150px;
    right: 10px;
  }

  .earth-device.mobile {
    width: 120px;
    top: 115px;
    left: 15px;
  }

  .earth-device-wrapper {
    height: 350px;
  }

  .slider-text h1 {
    font-size: 1.5rem;
  }

  .slider-text ul {
    max-width: 90%;
  }

}
